.contato {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
    background: linear-gradient(135deg, #a2f5b6, #5be388);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-size: 200% 200%;
}

.contato h2 {
    font-size: 2.5em;
    margin: 18px 0 50px;
    margin-bottom: 8%;
    color: white;
    text-align: center;
    text-shadow: 2px 5px 12px rgba(50, 199, 112, 0.5);
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
}

.contato h2:hover{
    color: #2fa65f; 
    text-shadow: 5px 8px 25px rgba(50, 199, 112, 0.8), 0 0 40px rgba(50, 255, 199, 0.5); 
    transform: scale(1.05);
}

.form-contato {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    background-color: #32c770;
    box-shadow: inset 8px 0 50px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 60%;
}

.form-contato label {
    margin-top: 10px;
    text-align: left;
}

.form-contato input,
.form-contato textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border: 1px solid #cccccc4b;
    border-radius: 5px;
}

.btn-enviar {
    margin-top: 20px;
    background-color: #32c770;
    background-color: #090a0a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: background-color 0.8s ease;
    font-size: 1em;
    font-weight: bolder;
}

.btn-enviar:hover {
    background-color: #02f637;
}
.contato .social-icons{
    flex: 1;
}

.container-pai {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os elementos à esquerda */
    margin-left: 2%; /* Ajuste para o espaçamento desejado */
    gap: 16px; /* Espaço entre o logo e os ícones */
}
.logo2{
    margin-top: -385px;
    margin-left: 200px;
}

.logo2 img {
    width: 60%;
    height: auto;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.5), /* Sombra leve próxima */
}

.social-icons {
    display: flex;
    gap: 50px; /* Espaço entre os ícones */
    transform: translateY(-45px);
    margin-left: 354px;
    margin-top: 20px;
}

.social-icons img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

